#quickfix {
    border-radius: 2px;
    background-color: #e50914;
    color: white;
    font-family: Arial;
    font-weight: 400;
    letter-spacing: 1.9px;
    min-width: 112px;
    min-height: 44px;
    background-image: linear-gradient(to bottom,#e50914,#db0510);
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    width: 271px;
    box-shadow: 0 1px 0 rgba(0,0,0,.45);
    margin-top: 1em;

}
body {
    -webkit-font-smoothing: antialiased;
}

#hold {
    position: fixed;
    top: 200px;
    left: 70px;
    color: white;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
#hold > h1 {
    font-size: 46px;
}

h2.small {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}

#bg {
    position: fixed;
    z-index: -1;
}

#csa {
    width: 200px;
    position: fixed;
    top: 40px;
    left: 60px;
}
